.homeContainer {
	margin-left: 100px;
	margin-right: 100px;
}

.homeFooter {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.homeHeader {
	height: 100px;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}
